@font-face {
    font-family: LatoThin;
    src: url("../font/Lato-Thin.ttf");
}

.container {
    height: 100%;
    width: 100%;
}

#main {
    --main-size: 500px;

    background-color: #4d4d4d;
    height: var(--main-size);
    width: var(--main-size);
    position: absolute;
    top: calc(50% - (var(--main-size) / 2));
    left: calc(50% - (var(--main-size) / 2));
    border-radius: 50%;
    text-align: center;
    line-height: var(--main-size);
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: 1px solid white;
}

#main:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
}

#main-content {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    font-size: 35px;
    font-family: LatoThin;
    text-shadow: 0 2px 3px #555;
}

#main-content #main-content-name {
    color: #ccc;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
}

#main-content.hover #main-content-name {
    color: #888;
}

#main-content #main-content-type {
    color: #888;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
}

#main-content.hover #main-content-type {
    color: #ccc;
}

#main-content-cv {
    color: #888;
    position: absolute;
    bottom: calc((var(--main-size) / 2) - 50px);
    left: calc((var(--main-size) / 2) - 100px);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
}

#main-content-cv:hover {
    color: #ccc;
}

#main-content-blog {
    color: #888;
    position: absolute;
    bottom: calc((var(--main-size) / 2) - 50px);
    right: calc((var(--main-size) / 2) - 100px);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
}

#main-content-blog:hover {
    color: #ccc;
}